<footer class="footer text-muted" >
  <style>
    footer{
      background-color: blue;
    }
  </style>
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="order-last order-lg-first" >
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
          <br>
          <img src="/images/vendor/slingr_blue.png" alt="Alternative Text"  style="width: 8%; height: auto;" >

        </ul>

      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            
          {{ end -}}
        </ul>
        </div>
      

    </div>
  </div>
</footer>