.bs-callout {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #dedede;
    
    &-warning {
      border-left-color:#f0ad4e;
    }
    &-primary {
      border-left-color: #0072ce;
    }
    &-success {
      border-left-color:#5cb85c;
    }
    &-danger {
      border-left-color:#d9534f;
    }
    &-info {
      border-left-color: #5bc0de;
    }

  }

.summary {
    font-size: 110%;
    color: #808080;
    margin: 20px 0 20px 0;
    border-left: 5px solid  #0072ce;
    padding-left: 10px;
}

